html, body {
    box-sizing: border;
    height: 100%;
}

.nav {
    color: white;
}

#navbarNav {
    justify-content: flex-end;
}

.parallax-window {
    height: 50%;
    min-height: 400px;
    background: transparent;
    display: flex;
}

.parallax-window h1 {
    text-align: center;
}

.parallax-window p {
    text-align: center;
    font-size: 25px;
}

#front {
    height: 100%; 
}

.title-splash {
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.text-section {
    flex: 1;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.text-section h1 {
    text-align: left;
    border-bottom: 1px solid black; 
}

#profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.img-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
}

#profile-container p {
    display: inline-block;
    margin-left: 10px;
}

#cloudshare-cards {
    display: flex;
}

.card {
    margin: 1%;
    width: 25%;

    flex: 1;
}

#resume {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    padding-top: 60px;
    padding-bottom: 30px;
}

.carousel-img {
    display: block;
    max-height: 90vh;
    max-width: 65vh;
    width: 90%;
    margin: auto;
}

#resume-buttons {
    display: flex;
}

.btn {
    min-width: 6em;
    margin: auto;
}
